.wrapper {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    flex-wrap: wrap;
    // justify-content: center;

    .item {
        width: 100px;
        height: 100px;
        font-size: 26px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(27, 199, 199);
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.preview-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    &.visible {
        top: 0;
        bottom: 0;
        background: rgba(#000, 0.3);
    }

    &.hidden {
        width: 0;
        height: 0;
        z-index: -1;
    }

    
}