@keyframes fade_show {
  from {
    width: var(--origin-width, 50px);
    height: var(--origin-height, 50px);
    transform: translate(var(--tX), var(--tY));
    opacity: 0;
  }

  to {
    width: var(--target-width, 100px);
    height: var(--target-height, 100px);
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes fade_hide {
  from {
    width: var(--target-width, 100px);
    height: var(--target-height, 100px);
    transform: translate(0, 0);
    opacity: 1;
  }

  to {
    width: var(--origin-width, 50px);
    height: var(--origin-height, 50px);
    transform: translate(var(--tX), var(--tY));
    opacity: 0;
  }
}