@keyframes fade_show {
  0% {
    width: var(--origin-width);
    height: var(--origin-height);
    transform: translate(var(--tX), var(--tY));
    font-size: var(--origin-font-size, inherit);
    opacity: 0;
  }

  1% {
    width: var(--origin-width);
    height: var(--origin-height);
    transform: translate(var(--tX), var(--tY));
    font-size: var(--origin-font-size, inherit);
    opacity: 1; 
  }

  100% {
    width: var(--target-width);
    height: var(--target-height);
    font-size: var(--target-font-size, inherit);
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes fade_hide {
  from {
    width: var(--target-width);
    height: var(--target-height);
    transform: translate(0, 0);
    font-size: var(--target-font-size, inherit);
    opacity: 1;
  }

  to {
    width: var(--origin-width);
    height: var(--origin-height);
    font-size: var(--origin-font-size, inherit);
    transform: translate(var(--tX), var(--tY));
    opacity: 0;
  }
}


@keyframes text_show {
  from {
    transform: translate(var(--tX), var(--tY));
    font-size: var(--origin-font-size, inherit);
    opacity: 0;
  }

  to {
    transform: translate(0, 0);
    font-size: var(--target-font-size, inherit);
    opacity: 1;
  }
}

@keyframes text_hide {
  from {
    transform: translate(0, 0);
    font-size: var(--target-font-size, inherit);
    opacity: 1;
  }

  to {
    transform: translate(var(--tX), var(--tY));
    font-size: var(--origin-font-size, inherit);
    opacity: 0;
  }
}