.mask {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 9;
    transition: opacity 0.3s ease;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
    .item {
        aspect-ratio: 1;
        display: flex;
        flex-direction: column;
        gap: 50px;
        .title {
            font-weight: bold;
            font-size: 24px;
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.content-wrapper {
    position: fixed;
    top: 20%;
    left: 30%;
    right: 30%;
    border-radius: 5px;
    z-index: 99;

    img {
        width: 100%;
        height: 100%;
    }
    .title {
        font-weight: bold;
        font-size: 24px;
    }
}