.main-box {
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  
  background-color: #fff;
  // display: grid;
  // grid-template-columns: minmax(200px, 2fr) minmax(0, 1fr);
  height: 50vh;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit:cover;
  }
  .content-box {
    max-height: 100%;
    padding: 1rem;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}